:root {
  --font: 'Inter', system-ui, sans-serif;
  --color-text: #232425;
  --color-text-alt: #ffffff;
  --color-text-header: #0e214b;
  --color-bg: linear-gradient(135deg, #f1f5ff, #dbeafe, #bfdbfe);
  --color-bg-header: #ffffff;
  --color-bg-aside: #ffffff;
  --color-bg-section: #ffffff;
  --spacing-md: 16px;
  --radius: 12px;
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font);
}

header {
  color: var(--color-text-header);
  background-color: var(--color-bg-header);
  padding: 20px;
  border-radius: var(--radius);
  margin: 20px;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

main {
  display: flex;
  gap: 10px;
  padding: 20px;
}

aside {
  width: 240px;
  background-color: var(--color-bg-aside);
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 20px;
  border-radius: var(--radius);

}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  
}

aside a {
  text-decoration: none;
  color: var(--color-text);
}

aside li {
  margin-bottom: 10px;
}

section {
  flex: 1;
  background-color: var(--color-bg-section);
  color: var(--color-text);
  padding: 20px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section article {
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 10px 14px;
  margin-bottom: 10px;
}

article {
  display: flex;
  align-items: center;
  gap: 16px;
  
}

.titulo {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
}

.categoria {
  flex: 2;
  width: 120px;
  font-size: 12px;
  text-align: left;
  font-style: italic;
}

.badge {
  margin-left: auto;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.alta {
  background-color: #ee4d4d;
}

.media {
  background-color: #eeb64d;
}

.baja {
  background-color: #7bee4d;
}

@media (max-width: 768px) {

  main {
    flex-direction: column;
    padding: 12px;
  }

  aside {
    width: 100%;
  }

  aside ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  aside li {
    margin-bottom: 0;
    text-align: center;
  }

aside a {
  text-decoration: none;
  color: var(--color-text);
  background-color: rgba(255,255,255,0.2);
  padding: 8px 12px;
  border-radius: 6px;
  display: block;
}

}